body {
	background-color: rgb(137, 125, 100);
}

.slideshow {
	display: flex;
	margin: auto;
}

.slideshow__figure {
	/* display: none; */
}

.slideshow__figure--visible {
	display: block;
}

.figure-button {
	display: flex;
	justify-content: center;
	border: none;
	background: none;
}

#button-left {

}

#button-left {

}