body {
	background-color: rgb(137, 125, 100);
}

.slider {
	position: relative;
	background: #000116;
	width: 800px;
	min-height: 500px;
	margin: 20px;
	overflow: hidden;
	border-radius: 10px;
}

.slider .slide{
	position: absolute;
	width: 100%;
}
 
 
.slider .slide img{
	position: absolute;
	width: 100%;
	height: 100%;
}